/* Variables */
$vin-blue: #5bb7db;
$vin-green: #60b044;
$vin-red: #ff0000;

$sidebarExpanded: 256px;
$navHeight: 56px;
$contPad: 16px;

body { margin: 0; }

/*--------*/
/* Layout */
/*--------*/

/* Nav */

.menu-wrapper { width: 100px !important; }
.main-toolbar { position: fixed; width: 100% }

/* Content */
.content-wrap { padding: $navHeight+$contPad $contPad $contPad $sidebarExpanded+$contPad; }
