/* Variables */
$vin-blue: #5bb7db;
$vin-green: #60b044;
$vin-red: #ff0000;
$bgColor: #F5F5F5;
$fgColor: #FFFFFF;

$mainColor: #00bcd4;
$mainTextColor: #FFFFFF;

$secColor: #363A3F;
$secTextColor: #FFFFFF;

$sidebarExpanded: 256px;
$navHeight: 56px;
$conWrapPad: 30px;
$conPad: 24px;
$barHeight: 56px;

body { margin: 0; font-family: 'Roboto', 'Segoe UI', 'Droid Sans', Tahoma, Arial, sans-serif; background: $bgColor; }

/*--------*/
/* Layout */
/*--------*/

/* Nav */

.menu-wrapper { width: 100px !important; }
.menu-wrapper>div { background: $secColor !important; }
.menu-wrapper .nav-item { color: $secTextColor !important; font-size: 14px !important; }

.top-nav-wrap { float: left; position: fixed; width: 100%; z-index: 999; }
.top-nav-bar { background: $fgColor !important; padding-left: $sidebarExpanded+$conWrapPad+24px !important; }
.side-nav-bar { background: $mainColor !important; color: $mainTextColor; letter-spacing: 1px; }

/* Page Heading */

.page-heading { background: #F1F1F1; float: left; width: 100%; box-sizing: border-box; padding: $navHeight $conWrapPad 0 $sidebarExpanded+$conWrapPad;}
.page-heading>h1 { font-size: 30px; font-weight: 400; margin: 20px 0 5px 0; }
.page-heading>p { color: #666; font-size: 13px; font-weight: 300; margin: 0 0 20px 0; }

/* Content */

.content-wrap { padding: 0 $conWrapPad $conWrapPad $sidebarExpanded+$conWrapPad; background: $bgColor; float: left; width: 100%; box-sizing: border-box; }
.content-wrap>div { padding: 0 !important;}

.panel-bar { height: $barHeight; z-index: 99 !important; }
.panel-bar>h1 { line-height: $barHeight !important; font-size: 20px !important; font-weight: 400; }

.con-pad { padding: $conPad; }

/* Button */

.icon-btn { margin: 10px !important; min-width: 36px !important; }
.icon-btn.first { margin-left: 0 !important; }
.icon-btn.left-most { margin-left: -8px !important; }
.button.rightMargin { margin-right: 12px; }


.parent{
  display: table !important;
  width: 100% !important;
  height: 100% !important;
  position:absolute;
}

.child{
  display: table-cell;
  vertical-align: middle;
}


.pagination {
  text-align: right;
  ul {
    display: inline-block;
    padding-left: 15px;
    padding-right: 15px;

  }
  li {
    display: inline-block;
    padding: 5px 10px;

    border: 1px solid #EEEEEE;
    cursor: pointer;

    a {
      cursor: pointer;
    }

  }

  .active{
    background-color: #00bcd4;
    color:white;
    border: 1px solid #00bcd4;
    cursor: default !important;
    a {
      cursor: default !important;
    }
  }
  .disable{
    background-color: #e5e5e5;
    color: #9e9e9e;
    cursor: default !important;
    a {
      cursor: default !important;
    }

  }
  .break{
    cursor: default !important;
    a{
      text-decoration: none !important;
      cursor: default !important;
    }
  }
}